.full-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('../img/Sections background/section-1(header).jpg');
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 1960px;
  margin-bottom: 5px;
}

.header-nav{
  width: 100%;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(94, 93, 88, 0.6);;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

}

.header-nav-container{
  box-sizing: border-box;
  margin-top: 38px;
  margin-bottom: 36px;
  box-sizing: border-box;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo-header {
  display: flex;
  align-items: center;
}

.header-logo-link{
  text-decoration: none;
}

.header-logo-text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 6px;
}

.header-logo-text span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.header-nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link-nav-menu {
  cursor: pointer;
  text-decoration: none;
  padding-left: 21px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  position: relative;
}

.search-icon {
  position: relative;
  background-image: url('/img/icon/search-icon.png');
  width: 21px;
  height: 20px;
  top: 2px;
}

.header-link-nav-menu:hover{
  color:#18CFAB;
}

.header-link-nav-menu:hover .search-icon{
  background-image: url('/img/icon/icons8-find-24.png');
  top: 1px;
}

.header-link-nav-menu:hover:after {
  content: "";
  position: absolute;
  
  width: 78%;
  border-bottom: 2px solid #18CFAB;
  left: 21px;
  top: 70px;
}

.other:hover:after {
  content: "";
  position: absolute;
  
  width: 85%;
  border-bottom: 2px solid #18CFAB;
  left: 23px;
  top: 70px;
}

.home-wrapper {
  margin-top: 366px;
  margin-bottom: 243px;

  display: flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;
}

.home-text {
  width: 1160px;
  height: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 122px;
}

.text-about-the-ham-first {
  width: 798px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.span-color-turquoise{
  color: #18CFAB;
}

.text-about-the-ham-second{
  text-shadow: 0px 10px 12px #000000;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text-about-the-ham-third{
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;

}

.button{
  box-sizing: border-box;
  border-top: 5px solid  #FFFFFF;
  border-bottom: 1px solid #18CFAB;
  border-right: 1px solid #18CFAB;
  border-left: 1px solid #18CFAB;
  border-radius: 8px;
  width: 169px;
  height: 68px;

  background: #18CFAB;
  cursor: pointer;

  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;

  z-index: 2;
}

.button:hover {
  box-shadow: 0px 0px 16px #17c4a1;
}

.button-blue{
  background: #00CBF6;
}

.button-blue:hover{
  box-shadow: 0px 0px 16px #02a0c0;
}

.home-button .button{
  margin-left: 26px;
}

/* --- second section --- */
.four-options{
  width: 1920px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 92px;
}

.four-options div{
  box-sizing: border-box;
  width: 480px;
  padding: 97px 0px 103px 0px;
}

.div-options-dark {
  background: #1C2A33;
  box-shadow: 4px 4px 10px black;
  border-left: 7px solid black;
  border-top: 3px solid #2a3f4d;
}

.div-options-light{
  background: #18CFAB;
  box-shadow: 4px 4px 10px #021b16;
  border-left: 7px solid #021b16;
  border-top: 3px solid #4ae9c9;
}

.div-options-text{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.div-options-dark .div-options-text{
  color: #18CFAB;
  padding-top: 45px;
}

.div-options-light .div-options-text{
  color: #FFFFFF;
  padding-top: 64px;
}

/* --- third section --- */
.our-service {
  width: 1160px;
  margin-bottom: 91px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
  padding-bottom: 24px;
}

.our-service-tabs .active{
  background: #18CFAB;;
  color: #FFFFFF;
}

.our-service-tabs-content li{
  display: none;
}

.our-service-tabs-content li.active{
  display: flex;
  padding-top: 23px;
  font-weight: 300;
  text-align: left;
}

.our-service-tabs-text{
  padding-left: 15px;

  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

.hr-one {
  box-sizing: border-box;
  border: 1px solid #18CFAB;
  width: 75.54px;

  position: relative;
  left: 2px;
  background: #18CFAB;
}

.hr-two {
  box-sizing: border-box;
  border: 1px solid #18CFAB;
  width: 75.54px;

  position: relative;
  left: 13px;
  top: -10px;

  background: #18CFAB;
  margin-bottom: 67px;
}

.our-service-wrapper{
  box-sizing: border-box;
  width: 1160px;
}

.our-service-tabs {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-service-tabs-title{
  display: block;
  width: 193px;
  padding-top: 21px;
  padding-bottom: 22px;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;

  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
}

.our-service-tabs-title:hover{
  border: 1.5px solid #18CFAB;
}

.our-service-tabs-title.active::after{
  content: "";
  position: relative;
  bottom: -60px;
  left: -29%;
  transform: translateX(-29%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18CFAB;;
}

.our-service-tabs-title.active:nth-child(2)::after{
  content: "";
  position: relative;
  bottom: -60px;
  left: -35%;
  transform: translateX(-35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18CFAB;;
}

.our-service-tabs-title.active:nth-child(3)::after{
  content: "";
  position: relative;
  bottom: -60px;
  left: -34%;
  transform: translateX(-34%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18CFAB;;
}

.our-service-tabs-title.active:nth-child(5)::after{
  content: "";
  position: relative;
  bottom: -60px;
  left: -39%;
  transform: translateX(-39%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18CFAB;;
}

.our-service-tabs-title.active{
  padding-left: 16px;}

  img.our-service-img{
    border-bottom: black;
    box-shadow: 0px 2px 10px black;
  }

/* --- 4 section --- */
.purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  background-image: url('../img/Sections background/section-2.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 1960px;
}

.purchase-opacity {
  position: absolute;
 
  width: 100%;
  min-width: 1960px;
  height: 476px;
  background-color: #000000b5;
  z-index: 1;
}

.purchase-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1160px;
  padding-top: 127px;
  padding-bottom: 128px;
}

.text-purchase-first{
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  color: #18CFAB;
  z-index: 2;
}

.text-purchase-second {
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  padding-top: 12px;
  padding-bottom: 62px;
  z-index: 2;
}

/* --- 5 section --- */
.work{
  background: #E9EDEF;
  min-width: 1960px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1160px;
}

.work .section-title{
  padding-top: 97px;
}

.list{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center; 
  margin-bottom: 69px;
}

.active-tab{
  border:2px solid #18CFAB;
  color: #18CFAB;
}

.list__item {
  line-height: 42px;
  font-size: 14px;
  color: #717171;
  padding: 17px 14px 14px 14px;
  display: block;
  border:1px solid #DADADA;
}

.list__item:nth-child(1){
  padding: 17px 29px 14px 29px;
}

.blocks{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 1160px;
  margin-bottom: 70px;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.photo-card{
  cursor: pointer;
  width: 285px;
  height: 211px;
  position: relative;
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.photo-card .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transform: rotateY(180deg);
  transition: transform 0.6s ease;
}

.photo-card .back-text{
  display: none;
}

.photo-card .back-text-second {
  display: none;
}

.photo-card .back-img-wrap{
  display:none}

.photo-card:hover img {
  transform: rotateY(180deg);
}

.photo-card:hover .back {
  background-color: white;
  border-top: 3px solid #18CFAB;;
  box-sizing: border-box;
  transform: rotateY(0deg);
}

.photo-card:hover .back img{
  display: block;
}

.photo-card:hover .back-img-wrap{
  position: relative;
  width: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.photo-card:hover .back-text {
  display: block;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  
  color: #18CFAB;
  transform: rotateY(0deg);
}

.photo-card:hover .back-text-second{
  display: block;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;

  color: #8A8A8A;
  transform: rotateY(0deg);
} 

.blocks__row{
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.other-card{
  display: none;
}

.active-tab {
  color: #18CFAB;
  border: 2px solid #18CFAB;
}

.work button{
  border-top: 2px solid #18CFAB;
  margin-bottom: 99px;
  padding-left: 16px;
}

.work button::before{
  content: url('../img/icon/Forma 1.png');
  position: relative;
  top: 2px;
  right: 16px;
}

.back-img-wrap{
  width: 88px;
  height: 44px;
}

.toggle-img{
  background-image: url('../img/icon/icon-1.png');
  width: 43px;
  height: 42px;
  display: block;
}

.toggle-img-second{
  background-image: url('../img/icon/icon-2.png');
  width: 43px;
  height: 42px;
  opacity: 0.8;
  display: block;
}

.toggle-img:hover{
  background-image: url('../img/icon/icon-1-green.png');
}

.toggle-img-second:hover{
  background-image: url('../img/icon/icon-2-green.png');
}

/* section 6 */
.breaking-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  width: 1160px;
}

.breaking-news .section-title{
  margin-top: 84px;
}

.breaking-news-gallery{
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 131px;
}

.breaking-news-card {
  display: block;
  text-decoration: none;
}

.breaking-news-card:nth-child(1){
  padding-bottom: 44px;
}

.breaking-news-card:nth-child(2){
  padding-bottom: 44px;
}

.breaking-news-card:nth-child(3){
  padding-bottom: 44px;
}

.breaking-news-card:nth-child(4){
  padding-bottom: 44px;
}

.breaking-news-card:hover .date{
  transition: all 0.5s ease-out;
  background: #18CFAB;;
}

.breaking-news-card:hover .card-name{
  transition: all 0.5s ease-out;
  color: #18CFAB;
}

.photo-wrap{
  position: relative;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  background: #203E38;
  width: 66px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-date{
  font-size: 16px;
  line-height: 25px;
  
  color: #FFFFFF;
}

.card-name{
  box-sizing: border-box;
  margin-top: 14px;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  margin-left: 18px;
  color: #717171;
}

.card-comments{
  font-weight: 300;
  font-size: 13.9px;
  line-height: 39px;
  position: relative;
  top: -5px;

  color: #777777;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

/*section 7*/
.client-feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../img/Sections background/section-3.jpg');
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 1960px;
}

.client-feedback .section-title{
  padding-top: 96px;
  color: #FFFFFF;
}

.client-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1160px;
  position: relative;

}

.client-wrapper-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.client-feedback-text{
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: #BBBBBB;
  padding-bottom: 37px;
}

.client-feedback-text span{
  display: block;
}

.profession{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  font-weight: 300;
  font-size: 13px;
  line-height: 27px;

  color: #BBBBBB;
  padding-bottom: 28px;
}

.profession-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;

  color: #18CFAB;
}

.people{
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid #14957b51;
  box-sizing: border-box;
}

.div-container{
  width:355px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 96px;
}

.owl-carousel .owl-stage-outer {
  padding-top: 11px;
}

.item{
  width: 70px;
  height: 70px;
  transition: all 1s ease-out; 
}

.slide-img{
  box-sizing: border-box;
  width: 100%;
  border-radius: 50%;
  border: 6px solid #14957b51;
  cursor: pointer;
}

.slide-img:hover{
  transform: translateY(-10px);
}

.hover{
  border: 6px solid #1fdab5d4;
  box-shadow: 0px 0px 6px #28ffd4;
} 

.hover-item{
  transform: translateY(-10px);
}

.carusel-button{
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  color: #BBBBBB;
  top: 32px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #BBBBBB;
  position: absolute;

  cursor: pointer;
}

.carusel-button:hover{
  transition: all 0.5s ease-out;
  background: #18CFAB;
  color: white;
}

.carusel-button:active{
  background: #18CFAB;
  color: white;
  border: 2px solid white;
  box-shadow: 0px 0px 8px white;
  transition: none;
}

.carusel-button.next {
  left: -57px;
  z-index: 1000;
}

.carusel-button.prev {
  right: -57px;
  z-index: 1000;
}

.owl-theme .owl-nav {
  margin-top: 0px; 
}

/* footer */
.footer{
  background: #22353F;
  min-width: 1960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text-wrapper{
  width: 1160px;
  padding: 48px 0px 47px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
}

.footer-span{
  color: #18CFAB;
}